doctype html
meta(name="charset", content="utf-8")
html
    head
        title User id not known
        link(rel="stylesheet" href="/external/fontawesome/css/all.css")
        link(rel="stylesheet" href="/css/style.css")

    body
        div#content
            h1 User id not known
            div#info_text
                p
                    <i class="fas fa-info-circle"></i>
                    |
                    | The user id is not known.
                a.link_to_index(href="/")
                    i.fas.fa-forward(aria-hidden='true')
                    |
                    | Go to start page